
{%extends "container.html"%}

{%block content%}


    {% for template in beurteilungstemplates%}

        <div class="beurteilungstemplate">
            <form method="POST">
            {% csrf_token %}
            <a href= "{% url 'beurteilungstemplates_detail' template.id %}"> {{ template.beurteilungstemplate_bezeichnung}}</a>
            </form>
        </div>
        <hr>

    {% endfor %}

    {% if beurteilungstemplates|length == 0 %}
        <p>Keine Beurteilungstemplates gefunden.</p>
    {% endif %}


{%endblock content%}
